* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #1abc9c;
    height: 125px;
    width: 100%;
}

nav {
    height: 49px;
    width: 100%;
    flex-grow: 15%;
    
}

div {
    background-color: #ecf0f1;
    height: 700px;
    width: 100%;
    flex-grow: 15%;
}

footer {
    background-color: #313131;
    height: 75px;
    width: 100%;
    flex-grow: 15%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    padding-left: 10vw;
    height: 49px;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}
  
li a:hover:not(.active) {
    border-bottom: 3px solid #e67e22;
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: red;
}

#wrapper > section {
    flex: 2 1 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#wrapper > aside {
    flex-basis: 10%;
}