/* DECLARATIONS DE VARIABLES COULEURS*/
:root {
    --main-bg-color1: #0E0B16; /*nom : navy blue*/
    --main-bg-color: #AB987A; /*nom : leather*/
    --main-bg-color: #ff7f50; /*nom : coral*/
    --main-bg-color: #F5F5F5; /*nom : eggshell*/
}

/* STYLE D'ECRITURES*/
@font-face {
    font-family: "Montserrat";
    src: url("Montserrat-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("Montserrat-Bold.ttf");
    font-weight: 700;
}


/* DEBUT DU CODE CSS*/
* {
    box-sizing: border-box;
    font-family: Montserrat;
}


body {
    font-family: Arial;
    margin: 0;
}

/* HEADER */
#header {
    padding: 20px 80px 137px 80px;
    text-align: center;
    background-color: rgba(132,132,132,1.0);
    background-image: url("../img/banniere.png");
    background-position-y: -145px;
    color: #222;
    max-height: 274px;
}

#header a {
    color: #222;
    text-shadow: 3px 3px #FFFFFF;
    text-decoration: none;
}

#header a:hover {
    color: #FFFFFF;
    text-shadow: 3px 3px #222;
    transition: .5s;
    transition-timing-function: ease;
    text-decoration: none;
}

/* BARRE DE NAVIGATION */
#navbar {
    display: flex;
    background-color: #222;
    justify-content: center;
    flex-wrap: wrap;
}

#navbar a {
    color: #E7DFDD;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
}

#navbar a.active {
    border-bottom: 3px solid #E7DFDD;
}

#navbar a:hover {
    color: rgba(132,132,132,1.0);
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

/* SIDEBARS ET CONTENU PRINCIPAL */
.container {
    display: flex;
    flex-wrap: wrap;
    background-color: #222;
}

/* SIDEBAR */
.side {
    flex: 15%;
    background-color: #0E0B16;
    padding: 20px;
    color: #E7DFDD;
}

/* CONTENU PRINCIPAL */
#main {
    flex: 70%;
    background-color: #0E0B16;
    color: #E7DFDD;
}

article:nth-child(even) {
    background-color: rgba(34,34,34,0.5);
}
article:nth-child(odd) {
    background-color: rgba(34,34,34,1.0);
}

article {
    margin: 20px;
    padding: 20px;
    display: flex;
    border-bottom: 3px solid #E7DFDD;
    border-radius: 10px;
}

.nonselected article .img {
    flex: 0 0 25%;
}

.nonselected article .img img {
    max-width: 100%;
    border-radius: 5%;
}

.nonselected article .description {
    padding-left: 20px;
}

.select article {
    flex-direction: row;
    flex-wrap: wrap;
}

.select article .img {
    flex: 0 0 50%;
}

.select article .img img {
    max-width: 100%;
    border-radius: 5%;
}

.select article .description {
    flex-flow: 3;
}

.select article .details,.description {
    padding-left: 20px;
}

/* FOOTER */
.footer {
    padding: 20px;
    text-align: center;
    background-color: #222;
    color: #E7DFDD;
}



/* FORMS */
#sideLeft input[type=text] {
    width: 50%;
    height: 10px;
}

#sideLeft input[type=search] {
    width: 100%;
    height: 30px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 200px;
    margin: 8px 0px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #E7DFDD;
    resize: none;
    border-radius: 10px;
}
input[type=submit], input[type=reset] {
    border: none;
    color: #333;
    padding: 16px 30px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
    font-weight: 700;
    transition: transform 2s;
    border-radius: 10px;
}
input[type=submit]:hover, input[type=reset]:hover {
    color: #E7DFDD;
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

iframe {
    float: center;
}

::-webkit-scrollbar {
    width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #0E0B16;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #E7DFDD;
}

@keyframes shake {
  10% {
    transform: rotate(2deg);
  }
  20% {
    transform: rotate(-2deg);
  }
  30%, 50% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  60% {
    transform: rotate(0deg);
  }
}

/* RESPONSIVE LAYOUT */
@media screen and (max-width: 1080px) {
    .container, #navbar, .side {
      flex-direction: column;
    }
}

@media screen and (max-width: 750px) {
    article {
      flex-direction: column;
    }
}
