* {
    padding: 0px;
    margin: 0px;
}

.carousel img {
    max-width: 1020px;
    position: absolute;
    z-index: 1;
}

.carousel img.active {
    z-index: 2;
}

.carousel .controles {
    z-index: 3;
    position: absolute;
    left: calc(1020px * 0.5);
    top: calc(350px * 0.80);
    transform: translate(-50%,-50%);
}

.carousel .controles span {
    border: solid 1px black;
    color: black;
    margin: 0px 10px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.carousel .controles span:hover {
    border: solid 1px white;
    background-color: white;
}